<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

 <listeners>
 <listener class-name="com.int_banking_utility.Reporting"/>
 <listener class-name="com.int_banking_utility.Util">
 </listener>
 </listeners>
 
  <test thread-count="2" name="Test" parallel="classes">
  <parameter  name="browser" value="chrome"/>
    <classes>
     <class name="com.int_banking_testCases.TC_LoginTest_001"/>
      <!--<class name="com.int_banking_testCases.BasicTest"/>-->
    </classes>
  </test> 
</suite> 
